/**
*Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/
:host {
  .header_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .arrow_img {
    width: 20px;
  }
  ion-title {
    color: white;
    justify-self: center !important;
  }
  .ion_content{
    background: url('../../assets/image/back.jpg') no-repeat;  
    background-size: cover !important;
    background-position: center !important;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
  } 
  .item_input {
    --background: transparent !important;
    --highlight-background: #4e14064b;
    --highlight-color-focused: #ffffff !important;
    --full-highlight-height: 1px;
  }
  .item-has-focus .label-floating.sc-ion-label-md-h {
    color: rgba(209, 206, 206, 0.685);
    transform: translate3d(0, 20%, 0) scale(1);
  }
  
  .label_Class{
    justify-content: center;
      align-items: center;
      display: flex;
      align-self: center;
      position: absolute;
  }
  
  ion-col.row_div{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
  }
  .button-width{
    width: calc(50% - 8px);
  }
  .submit_button {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    // margin: 20px;
  }
}